div{
   height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

p{
    padding: 200px;
    font-size: 50px;
}

h1{
    align-items: center;
}

button{
    font-size: 30px;
}